Django==6.0.5
djangorestframework==3.17.1
django-environ
django-storages[s3]
django-cors-headers
django-extensions
ipython
psycopg2-binary
pgvector
PyMuPDF
python-docx
openai
langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
requests
